@import "../../node_modules/materialize-css/sass/materialize";
@import "../../node_modules/angularjs-slider/dist/rzslider.scss";

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  .col {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

#tshirt-editor {
  text-align: center;
  width: 1000px;
  height: 605px;
  margin-top: 50px;
  border: 1px solid lightgrey;
}

#left-editor {
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #DA2029;
  height: 402.5px;




  .left-tab {
    background-color: #DA2029;
  }

  .tab a {
    color: white;
  }

  .active {
    background-color: white !important;
    border: none !important;
    color: black !important;

  }

  .indicator {
    display: none;
  }

  .cat-list {


    td {
      padding: 1px;
      text-align: center;
      font-size: 16px;
    }
  }


  #add-text {


    .option-choice {
      display: inline-block;
      font-size: 17px;
    }

    .adding-text {
      width: 75%;
    }

    .input-text {
      text-align: center;
    }

    .text-options {

      .slider-wrapper {
        width:75%;
        margin: 40px auto;
      }

      .font-type-wrapper {
        width:75%;
        margin: 40px auto;

        .font-button {
          margin-top: 10px;
        }
      }
    }

    .linebreak {
      border-bottom: 1px solid lightgrey;
      margin: 20px 25px 10px 25px
    }
  }

  #add-art {
    height: 352.5px;

    .upload {
      margin-top: 15px;

      .title {
        font-size: 18px;
      }

      .linebreak {
        border-bottom: 1px solid lightgrey;
        margin: 20px 25px 10px 25px

      }
    }

    .back {
      padding-left: 15px !important;
    }

    .current-category h6 {
      margin: 0px;
      padding-top: 5px;
      padding-right: 15px;
      font-weight: bold;
      color: #DA2029;
      font-size: 18px;
    }
  }
}

#center-editor {
  border: 1px;
  height: 605px;
  position: relative;
  border-style: solid;
  border-color: #DA2029;

  #front-tshirt {
    width: 450px;
    height: 550px;
    object-fit: contain;
    z-index: 0;
  }

  #back-tshirt {
    width: 450px;
    height: 550px;
    object-fit: contain;
    z-index: 0;
  }

  #tshirt-sandbox {

  }

  #option-button {
    position: relative;
    height: 50px;

    #editor-options-list {
      margin: 0px;

      .options-list {
        display: inline-block !important;
        cursor: pointer !important;
        background-color: #DA2029;
        height: 35px;
      }

      .options-list:hover {
        background-color: #FF2029;
      }

      .icon {
        margin-top: 10px;
        color:white;
      }
    }

    #editor-button {
      position: absolute;
      top: 8px;

      .alt-options {
        top: -16px;
      }
    }
  }
}

#right-editor {
  height: 202.5px;
  border-left: 1px;
  border-top: 0px;
  border-right: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #DA2029;

  .linebreak {
    border-bottom: 1px solid lightgrey;
    margin: 20px 25px 10px 25px
  }

  .title-right-editor {
    margin-top: 0px;
  }

}

#drag-container {
  width: 217px;
  height: 300px;
  border: 2px darkgrey solid;
  position: absolute;
  top: 135px;
  left: 143px;

  .clearCss {
    border: 0px !important;
  }

  .drag-object {
    display: inline-block;
    top:50px;
    left:55px;
    border: 1px #EC2029;
    border-style: solid;
    position: absolute;
    cursor: -webkit-grab;

    .delete-button {
      width: 25px;
      height: 25px;
      position: absolute;
      z-index: 90;
      top: -3px;
      left: -5px;
      cursor: pointer;
    }

    .resize-button {
      width: 20px;
      height: 20px;
      position: absolute;
      z-index: 90;
      top: 99px;
      left: 96px;
      transform: scale(-1, 1);
    }
    }

    .text {
      font-size: 20px;
      padding-left: 10px;
      padding-right: 10px;
      cursor: pointer;
    }
  }

  .clipart {
    width: 100px;
    height: 100px;

  }

.current-clipart {
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 12px;
}

.current-clipart:hover {
  border: 1px #EC2029 solid;
}

.clearDiv {
  display: none;
}

.clearBorder {
  border: 0px !important;
}

#swatch-list {
  .swatch  {
    width:20px;
    height: 20px;
    display: inline-block;
    border: 1px black solid;
    cursor: pointer;
    margin: 0px 2px 1px 1px;
  }
}

// .ui-icon { background-image: url("") !important; }

.spirax {
  font-family: 'Spirax', cursive;
}

.pressStart {
  font-family: 'Press Start 2P', cursive;
}

.macondo {
  font-family: 'Macondo', cursive;
}

.gloria {
  font-family: 'Gloria Hallelujah', cursive;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}




.label {
    float: left;
    text-align: left;
    display:inline;
}
.new-row {
  clear:both;
  // display:inline;
  // text-align: left;
}
