<section class="landing-banner">
  <div class="banner row">
    <div class="parallax-container">
      <div class="landing-col1 col s2"></div>
      <div class="landing-col2 col s8">
        <div class="banner-text center-align">Design Your Perfect, Koala-Tee, Shirt</div>
        <div class="banner-buttons">
          <ul class="banner-list center-align">
          <li class="banner-button"><a href="#!/custom"><button class="banner-click1 btn">Design a Tee</button></a></li>
          <li class="banner-button"><a href="#!/login"><button class="banner-click2 btn">Link Your Shopify</button></a></li>
          </ul>
        </div>
        <div class="center-align">
          <i class=" arrow-down fa fa-angle-double-down fa-4x " aria-hidden="true"></i>
        </div>
      </div>
      <div class="landing-col1 col s2"></div>
        <div parallax>
          <img class="parallax-img" src="https://d1tb5im0xynh1.cloudfront.net/static/images/banner_bg.jpg?bad40ffcc5b0"/>
        </div>
    </div>
  </div>
</section>
<div class="row landing-info">
     <div class="col s4">
       <div class="info-icon center-align"><i class="fa fa-exclamation fa-5x" aria-hidden="true"></i></div>
       <h4 class="info-title center-align">WHAT IS KOALA TEE'S?</h4>
       <p class="info-text center-align">Koala Tee's is a custom tshirt designer where anyone can create a "one of a kind" tshirt and share it with the world.</p>
     </div>
     <div class="col s4">
       <div class="center-align info-icon"><i class="fa fa-check-square fa-5x" aria-hidden="true"></i></div>
       <h4 class="info-title center-align">"KOALATEE" PRINT</h4>
       <p class="info-text center-align">Our goal is to have the best KoalaTee in design experience to the print Koalatee. You create it and we generate a mockup for you to sell.</p>
     </div>
     <div class="col s4">
       <div class="center-align image-wrapper"><img class="info-img" src="./images/shopify.png" alt=""></div>
       <h4 class="info-title center-align">SHOPIFY INTERGRATED</h4>
       <p class="info-text center-align">With a click of a button we provide a perfect solution for starting designers to create custom T-Shirts and sell them on their Shopify Store Front.</p>
     </div>
   </div>

   <div class="landing-content-1 row">
     <h1 class="content-1-header center-align col s12">Create Endless Ideas With Endless Possibilites</h1>
    <div class="gallery-container container-width">
      <ul class="landing-gallery1">
        <li class="gallery-img">
          <img src="https://d1tb5im0xynh1.cloudfront.net/static/images/tee-collection-1.jpg" alt="">
        </li>
        <li class="gallery-img">
          <img src="https://d1tb5im0xynh1.cloudfront.net/static/images/tee-collection-8.jpg" alt="">
        </li>
        <li class="gallery-img">
          <img src="https://d1tb5im0xynh1.cloudfront.net/static/images/tee-collection-4.jpg" alt="">
        </li>
        <li class="gallery-img">
          <img src="https://d1tb5im0xynh1.cloudfront.net/static/images/tee-collection-3.jpg" alt="">
        </li>
      </ul>
      <ul class="landing-gallery2">
        <li class="gallery-img">
          <img src="https://d1tb5im0xynh1.cloudfront.net/static/images/tee-collection-6.jpg" alt="">
        </li>
        <li class="gallery-img">
          <img src="https://d1tb5im0xynh1.cloudfront.net/static/images/tee-collection-4.jpg" alt="">
        </li>
        <li class="gallery-img">
          <img src="https://d1tb5im0xynh1.cloudfront.net/static/images/tee-collection-5.jpg" alt="">
        </li>
        <li class="gallery-img">
          <img src="https://d1tb5im0xynh1.cloudfront.net/static/images/tee-collection-7.jpg" alt="">
        </li>
      </ul>
    </div>
   </div>
