<nav>
   <div class="nav-wrapper container">
     <a href="#" class="brand-logo">Koala Tee's</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="#!/home">Home</a></li>
       <li><a href="#!/custom">Customize a Tee</a></li>
       <li><a href ng-click="layoutVm.goProfile()" ng-show="login">Profile</a></li>
       <li><a href="#!/login" ng-hide="login">Sign Up/Login</a></li>
       <li><a href ng-show="login" ng-click="layoutVm.logOut()">Log Out</a></li>
     </ul>
   </div>
 </nav>
<div class="body-content" ng-mouseup="layoutVm.broadcastDoneDragging()" ui-view></div>
