
<div class="row">
    <div class="col s12">
        <ul tabs reload="allTabContentLoaded" class="tabs-fixed-width">
            <li class="tab col s3 left-tab"><a class="tab-text" href="#add-text">Add Text</a></li>
            <li class="tab col s3 left-tab"><a class="active tab-text" href="#add-art">Add Art</a></li>
        </ul>
    </div>
    <div id="add-text" class="col s12 text-ux">
      <ul>
        <li class="option-choice"><a href ng-click="leftVm.selectedAddText()">Add Text</a></li>
        <li class="option-choice">|</li>
        <li class="option-choice"><a href ng-click="leftVm.selectedUpdateText()">Update Text</a></li>
      </ul>
      <div class="adding-text row" ng-hide="textSelected">
        <form ng-submit="leftVm.addText(leftVm.text)">
          <input class="input-text col s12" type="text" placeholder="add text here" ng-model="leftVm.text">
          <button class="btn col s12">Add Text</button>
        </form>
      </div>
      <div class="adding-text row" ng-show="textSelected">
        <form ng-submit="leftVm.updateText(leftVm.currentText)">
          <input class="input-text col s12" type="text" ng-model="leftVm.currentText"
          placeholder="Select a text to edit it">
          <button class="btn col s12">Update Text</button>
        </form>
      </div>
      <div class="linebreak center-align"></div>
      <div class="text-options row" ng-show="textSelected">
        <div class="font-slider col s6">
          <div class="slider-wrapper">
            <h5>Font Size</h5>
            <rzslider class="slider-css" rz-slider-model="leftVm.slider.value" rz-slider-options="leftVm.slider.options" ng-mouseup="leftVm.fontSize(leftVm.slider.value)"></rzslider>
          </div>
        </div>
        <!-- Dropdown Trigger -->
        <div class="font-type col s6">
          <div class="font-type-wrapper">
            <h5>Font Type</h5>
            <a class="dropdown-button btn font-button" href data-activates="demoDropdown" dropdown data-hover="true">
              default (roboto)
            </a>
          </div>
        </div>

      </div>
      <!-- Dropdown Structure -->
      <ul id="demoDropdown" class="dropdown-content">
        <li class="roboto">
          <a href ng-click="leftVm.changeFont(leftVm.fonts.roboto)">default</a>
        </li>
        <li class="spirax">
          <a href ng-click="leftVm.changeFont(leftVm.fonts.spirax)">Spirax</a>
        </li>
        <li class="macondo">
          <a href ng-click="leftVm.changeFont(leftVm.fonts.macondo)">Macondo</a>
        </li>
        <li class="press-start">
          <a href ng-click="leftVm.changeFont(leftVm.fonts.pressStart)">Press Start 2P</a>
        </li>
        <li class="gloria-hallelujah">
          <a href ng-click="leftVm.changeFont(leftVm.fonts.gloria)">Gloria Hallelujah</a>
        </li>
      </ul>
    </div>

    </div>
    <div id="add-art" class="col s12 art-ux" >
      <div class="upload">
        <h5 class="title">Upload your own image, logo, or clipart!</h5>
        <button class="btn" value="Upload" ng-click="leftVm.showPicker()">Upload</button>
        <div class="linebreak center-align"></div>
      </div>

        <div class="col s12 currentCliparts" ng-show="leftVm.catData" >
          <div class="row">
            <div class="back left-align col s6">
              Return to
                <a href ng-click="leftVm.emptyCatData()">main menu</a>
            </div>
            <div class="current-category col s6 right-align">
              <h6>{{leftVm.currentCategory}}</h6>
            </div>
          </div>
            <!-- FOR UPLOADING FILES -->
            <ul>
                <li class="col s3 " ng-repeat="image in leftVm.catData">
                    <a href ng-click="leftVm.tossImage(image)">
                        <img class="current-clipart" ng-src="{{image.url}}" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <div class="col s12" ng-hide="leftVm.catData">
            <h5 class="title">Select Your Category</h5>
            <table class="cat-list">
                <tr ng-repeat="category in leftVm.categories" ng-switch on="$index % 2">
                  <td ng-switch-when="0">
                    <a href ng-click="leftVm.showCategory(leftVm.categories[$index].name)">
                      {{ leftVm.categories[$index].name }}
                    </a>
                  </td>
                  <td ng-switch-when="0">
                    <span ng-show="leftVm.categories[$index+1]">
                      <a href ng-click="leftVm.showCategory(leftVm.categories[$index+1].name)">
                        {{ leftVm.categories[$index+1].name }}
                      </a>
                    </span>
                  </td>
                </tr>
            </table>
        </div>

        <!-- <div class="selectedEdit" ng-show="imageSelected">
            HELLO
        </div> -->
    </div>
</div>
