
<div class="row">
    <div class="col s12">
        <ul tabs reload="allTabContentLoaded" class="tabs-fixed-width">
            <li class="tab col s3"><a href="#add-text">Add Text</a></li>
            <li class="tab col s3"><a class="active" href="#add-art">Add Art</a></li>
        </ul>
    </div>
    <div id="add-text" class="col s12 text-ux">
      <form ng-submit="leftVm.addText(text)">
        <input class="input-text" type="text" placeholder="add text here" ng-model="text">
        <button>Add Text</button>
      </form>
    <div class="textOptions" ng-show="textSelected">


        <div class="font-slider">
        <h3>Font Size</h3>
        <rzslider rz-slider-model="leftVm.slider.value" rz-slider-options="leftVm.slider.options" ng-mouseup="leftVm.fontSize(leftVm.slider.value)"></rzslider>
        </div>
      <!-- Dropdown Trigger -->
      <a class="dropdown-button btn" href data-activates="demoDropdown" dropdown data-hover="true">
        Font Type
      </a>

      <!-- Dropdown Structure -->
      <ul id="demoDropdown" class="dropdown-content">
        <li class="roboto">
          <a href ng-click="leftVm.changeFont(leftVm.fonts.roboto)">default</a>
        </li>
        <li class="spirax">
          <a href ng-click="leftVm.changeFont(leftVm.fonts.spirax)">Spirax</a>
        </li>
        <li class="macondo">
          <a href ng-click="leftVm.changeFont(leftVm.fonts.macondo)">Macondo</a>
        </li>
        <li class="press-start">
          <a href ng-click="leftVm.changeFont(leftVm.fonts.pressStart)">Press Start 2P</a>
        </li>
        <li class="gloria-hallelujah">
          <a href ng-click="leftVm.changeFont(leftVm.fonts.gloria)">Gloria Hallelujah</a>
        </li>
      </ul>
    </div>

    </div>
    <div id="add-art" class="col s12 art-ux" >
      <div class="upload">
        <input type="button" value="Upload" ng-click="leftVm.showPicker()" />
      </div>

        <div class="currentCliparts" ng-show="leftVm.catData" ng-hide="imageSelected">
            <div class="back">
                <a href ng-click="leftVm.emptyCatData()">back</a>
            </div>
            <!-- FOR UPLOADING FILES -->

            <ul>
                <li ng-repeat="image in leftVm.catData">
                    <a href ng-click="leftVm.tossImage(image)">
                        <img class="current-clipart" ng-src="{{image.url}}" alt="" />
                    </a>
                </li>
            </ul>
        </div>

        <div class="col s5" ng-hide="leftVm.catData || imageSelected">
            <ul class="categories">
                <li ng-repeat="(cat, catname) in leftVm.categories">
                    <a href ng-click="leftVm.showCategory(catname)">
                        {{ catname }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="selectedEdit" ng-show="imageSelected">
            HELLO
        </div>
    </div>
</div>
