<div id="saved-projects" class="save-projects">
  <!-- Modal Structure -->
  <div id="demoModal" class="modal">
    <div class="modal-content">
      <h4>Link Shop</h4>
      <span>https://
      <input type="text" placeholder="shop name" ng-model="shopName">
      myshopify.com</span>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat"
      ng-click="profileVm.linkShop(shopName)">Link It</a>
    </div>
  </div>

</div>

<div class="profile-container">
  <h4 class="profile-list center-align" ng-hide="shopifyLinked">Have a Shopify Site?</h4>
  <div class="center-align">
    <a class="btn" data-target="demoModal" modal ng-hide="shopifyLinked">Link My Shopify</a>
    <div class="linked" ng-show="shopifyLinked">{{profileVm.shopName | uppercase}} IS LINKED</div>
  </div>
    <div class="linebreak center-align"></div>
  <h4 class="profile-list">Your Projects Designs:</h4>
</div>

<div class="row profile-container">
   <div class="col s3 m3" ng-repeat="project in profileVm.projects">
     <div class="card">
       <div class="card-image">
         <img ng-src="{{project.preview_url}}">
       </div>
       <div class="card-content">
         <h3 class="card-title center-align">{{project.name}}</h3>
         <div class="card-options ">
           <ul class="options row">
             <li class="option col s6 center-align waves-effect waves-light"
             ng-click="profileVm.loadProject(project)">
               <i class="fa fa-pencil" aria-hidden="true"></i> EDIT
             </li>
             <li class="option col s6 center-align waves-effect waves-light"
             ng-click="profileVm.deleteProject(project)">
              <i class="fa fa-trash" aria-hidden="true"></i> DELETE
             </li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>
