<div id="saved-projects" class="save-projects">



  <!-- Modal Structure -->
  <div id="demoModal" class="modal">
    <div class="modal-content">
      <h4>Link Shop</h4>
      <span>https://
      <input type="text" placeholder="shop name" ng-model="shopName">
      myshopify.com</span>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat"
      ng-click="profileVm.linkShop(shopName)">Link It</a>
    </div>
  </div>

</div>

<div class="profile-container">
  <h4 class="profile-list">Have a Shopify Site?</h4>
  <div class="col">
    <a class="btn" data-target="demoModal" modal ng-hide="shopifyLinked">Link My Shopify</a>
    <div class="linked" ng-show="shopifyLinked">Linked to Shopify</div>
  </div>
  <h4 class="profile-list">Your Projects:</h4>
  <ul id="saved-list">
    <li id="{{project.name}}" class="projects" ng-repeat="project in profileVm.projects">
      <ul class="profile-delete">
        <li>
          <div class="saved-project">
            <a href ng-click="profileVm.loadProject(project)">{{project.name}}</a>
          </div>
        </li>
        <li>
          <div class="delete-button trash-can" ng-click="profileVm.deleteProject(project)"> 
            <i class="fa fa-trash" aria-hidden="true" ng-hide="!project"></i> 
          </div>
        </li>
      </ul>
    </li>
  </ul>

</div>
