
<div class="swatches">
  <ul id="swatch-list" class="list">
    <li id="white" class="swatch white"></li>
    <li id="sports-grey" class="swatch grey"></li>
    <li id="black" class="swatch black"></li>
    <li id="dark-heather" class="swatch blue-grey"></li>
    <li id="royal" class="swatch light-blue darken-4"></li>
    <li id="sky-blue" class="swatch blue lighten-3"></li>
    <li id="flo-blue" class="swatch blue accent-1"></li>
    <li id="seafom" class="swatch cyan darken-3"></li>
    <li id="neon-pink" class="swatch pink lighten-2"></li>
    <li id="neon-green" class="swatch lime accent-1"></li>
    <li id="neon-orange" class="swatch orange accent-4"></li>
  </ul>
</div>
