
<div class="swatches">
  <h5 class=".center-align">Color T-Shirt</h5>
  <ul id="swatch-list" class="list">
    <li id="{{data.id}}" class="swatch {{data.class}}"
      ng-repeat="(colorName, data) in rightVm.tshirtColor"
      ng-click="rightVm.switchTshirt(data)">
    </li>
  </ul>
</div>

<div class="save">
    <!-- Modal Trigger -->
  <div class="col">
      <a class='btn' data-target='demoModal' modal>Save Project</a>
  </div>
  <!-- Modal Structure -->
  <div id="demoModal" class="modal">
      <div class="modal-content">
          <h4>Save Your Project</h4>
          <input type="text" placeholder="Project Name" ng-model="name">
      </div>
      <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-green btn-flat"
          ng-click="rightVm.saveProject(name)">Save</a>
      </div>
  </div>
  <form class="submit" ng-submit="rightVm.shopifyUpload()">
    <button>Buy Shirt</button>
  </form>
  <form class="export" ng-submit="rightVm.exportProject()" ng-show="shopifyLinked">
    <button>Export to Shopfiy</button>
  </form>

</div>
