<div class="linebreak center-align"></div>
<div class="row swatches">
  <h5 class="title-right-editor col s12 center-align">Color T-Shirt</h5>
  <ul id="swatch-list" class="list">
    <li id="{{data.id}}" class="swatch {{data.class}}"
      ng-repeat="(colorName, data) in rightVm.tshirtColor"
      ng-click="rightVm.switchTshirt(data)">
    </li>
  </ul>
</div>

<div class="save row">
    <!-- Modal Trigger -->
  <div class="col s6">
      <a class='btn' data-target='demoModal' modal>Save Project</a>
  </div>
  <!-- Modal Structure -->
  <div id="demoModal" class="modal">
      <div class="modal-content">
          <h4>Save Your Project</h4>
          <input type="text" placeholder="Project Name" ng-model="name">
      </div>
      <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-green btn-flat"
          ng-click="rightVm.saveProject(name)">Save</a>
      </div>
  </div>
  <form class="col s6 submit btn" ng-submit="rightVm.shopifyUpload()" ng-hide="shopifyLinked">
    <button>Buy Shirt</button>
  </form>
    <div class="export">
        <form class="export"  ng-show="shopifyLinked">
            <button class="btn" data-target="exportModal" modal>Export to Shopfiy</button>
        </form>
    </div>
    <div id="exportModal" class="modal">
        <div class="modal-content">
            <h3>Would you like us to populate your storefront for you? (optional)</h3>
            <form ng-submit="rightVm.exportProject(data)">
                <input type="text" placeholder="Vendor" ng-model="data.vendor">
                <input type="text" placeholder="Product Type" ng-model="data.product_type">
                <input type="number" placeholder="Price" ng-model="data.price">
                <button>Export to my Shopify database</button>
            </form>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat"
               ng-click="rightVm.saveProject(name)">Save</a>
        </div>
    </div>
</div>
