<div id="tshirt-editor" class="tshirt-editor row">
    <!-- LEFT PANE -->
  <div id="left-editor" class="col s4 editor-container" ui-view="left-editor"></div>



  <div id="center-editor" class="col s6 editor-container">
    <!-- <div class="center-controls">
      <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
    </div> -->

    <img id="tshirt" ng-src="{{tshirtVm.tshirtUrl}}" alt=""/>

    <!-- From Saved Project Logic -->
    <!-- <div class="drag-object" jqyoui-draggable="{ animate:true }" data-drag="true"
    data-drop="true" data-jqyoui-options="{ containment: '#drag-container'}"
    ng-repeat="image in tshirtVm.savedImages track by $index">
      <img class="clipart" resizable
        on-resize="tshirtVm.resize($evt, $ui)" ng-src="{{image.url}}" ng-mouseup="tshirtVm.getPosition($event)"
      ng-style="{'top':'{{image.x_position}}'}"/>
    </div> -->

    <!-- From Clipart -->
    <div id="drag-container">
      <div class="drag-object" jqyoui-draggable="{ animate:true }" data-drag="true"
      data-drop="true" data-jqyoui-options="{ containment: '#drag-container'}"
      ng-repeat="image in tshirtVm.projectInfo.tsFrontImages track by $index"
      ng-style="{'top':'{{image.y_position}}', 'left':'{{image.x_position}}'}">
        <img class="clipart" resizable
          on-resize="tshirtVm.resize($evt, $ui)" ng-src="{{image.url}}" ng-mouseup="tshirtVm.getPosition($event)"
        />
      </div>



      <div class="drag-object" jqyoui-draggable="{ animate:true }" data-drag="true"
      data-drop="true" data-jqyoui-options="{ containment: '#drag-container'}"
      ng-repeat="text in tshirtVm.texts track by $index">
        <div class="text">{{text}}</div>
      </div>

    </div>
  </div>


  <!-- RIGHT PANE -->
  <div id="right-editor" class="col s2 editor-container" ui-view="right-editor"></div>
</div>
