<!-- <div id="sandbox" class="sandbox">
  <h3>SANDBOX AREA</h3>
  <div class="sandbox-container">
    <div class="box1" jqyoui-draggable="{animate:true}" data-drag="true"
     data-drop="true"
    data-jqyoui-options="{containment: 'parent'}" >
      <img resizable
        on-resize="resize($evt, $ui)" src="https://www.placecage.com/200/200" alt="">
    </div>
  </div>
</div> -->


<!-- <div id="sandbox" class="sandbox"> -->
  <div class="left-sandbox" ui-view="left-sandbox"></div>
  <div class="center-sandbox" ui-view="center-sandbox"></div>
  <div class="right-sandbox" ui-view="right-sandbox"></div>
<!-- </div> -->
