<!-- <div id="sandbox" class="sandbox">
  <h3>SANDBOX AREA</h3>
  <div class="sandbox-container">
    <div class="box1" jqyoui-draggable="{animate:true}" data-drag="true"
     data-drop="true"
    data-jqyoui-options="{containment: 'parent'}" >
      <img resizable
        on-resize="resize($evt, $ui)" src="https://www.placecage.com/200/200" alt="">
    </div>
  </div>
</div> -->


<div id="tshirt-editor" class="tshirt-editor">
    <!-- LEFT PANE -->
  <div id="left-editor" class="editor-container" ui-view="left-editor"></div>



  <div id="center-editor" class="editor-container">
    <p>SANDBOX</p>
  </div>


  <!-- RIGHT PANE -->
  <div id="right-editor" class="editor-container" ui-view="right-editor"></div>
</div>
